{{define "content"}}
{{template "header"}}
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Статистика</h2>
        <p>Правильных ответов подряд: {{.Score}}, рекорд: {{.MaxScore}}</p>
        <p>Уровень: <strong>{{.Lvl}}</strong></p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Progress}}%;">
                {{.Progress}}%
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>Викторина</h1>
    <p>Выберите из 5 вариантов верное определение слова</p>
    <h1><span class="label label-info">{{.Word.Word}}</span></h1>
</div>

<div class="list-group">
    {{ range $index, $clue := .Word.Clues }}
        <a class="list-group-item" href="/quiz/answer?wid={{$.Word.Wid}}&cid={{$clue.Cid}}">{{$clue.Clue}}</a>
    {{ end }}
</div>

{{template "footer"}}
{{end}}